In [1]:
from lib.env import *
import os
import pandas as pd

DATASET_PATH = f'{DATA_PATH}/riley'
RECORDING_IDS = os.listdir(DATASET_PATH)
RECORDING_PATH = f'{DATASET_PATH}/{RECORDING_IDS[0]}/raw/{RECORDING_IDS[0]}.0.csv'
df = pd.read_csv(RECORDING_PATH,skiprows=1)
df = df.reset_index()
fs = 20
df.timestamp = (df.timestamp - df.timestamp[0])*1e-9
df['index'] = df['index']/(fs*60) # index in minutes

In [2]:
df

,index,timestamp,acc_x,acc_y,acc_z,rawlabel,state
0,0.000000,0.000000,2.998564,0.495769,9.639954,2.063568e-11,0
1,0.000833,0.048003,2.893184,0.352068,9.326206,2.156275e-11,0
2,0.001667,0.096001,3.010540,0.263452,9.661510,2.334950e-11,0
3,0.002500,0.144005,2.957849,0.443079,9.374106,2.133429e-11,0
4,0.003333,0.191995,3.036885,0.239502,9.199270,1.539451e-11,0
...,...,...,...,...,...,...,...
60658,50.548333,2908.703366,1.135239,-5.872588,7.719148,1.035594e-05,0
60659,50.549167,2908.751304,1.125659,-5.783972,7.702383,8.722023e-06,0
60660,50.550000,2908.799241,1.175955,-5.951624,7.752678,8.095039e-06,0
60661,50.550833,2908.847181,1.195115,-6.049819,7.726333,7.058674e-06,0
60662,50.551667,2908.895119,1.178350,-6.025869,7.702383,7.065448e-06,0